@import 'resource';

img.pic{
		display: block;
		margin: auto;
}	 


body {
		font-family: 'Roboto', 'Noto', sans-serif;
		font-size: 16px;
		line-height: 1.5;
		margin: 0 auto;
		display: block;
		@include bg_color(lightgrey);
}


paper-tabs, paper-toolbar{
	background-color: var(--paper-blue-900);
	        color: #fff;
}

paper-tab a{
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
	@include txt_color(white);
	vertical-align: middle;
}


cv{
		margin: auto;
		@include bg_color(white);
		display: block;
		padding: 0;
		overflow: hidden;
		padding-bottom: 80px;
}

h1, h2, h3, h4, h5, h6 {
		color: #222;
		font-weight: 600;
		line-height: 1.3;
}
h1{
		@include t_align(center);
		
}

h2 {
		clear: both;
		width: 150px;
		margin: 0 20px 0 10px;

		@include txt_color(white);
		@include t_align(center);
}

paper-toolbar h2{
	width: 19em;
	max-width: 100%;
}




h3{
		width: 180px;
		height: 30px;

		@include t_align(left);
		@include txt_color(#1b4491);
		padding: 10px;

}

paper-menu a{
		@include txt_color(#1b4491);
}

paper-icon-button{
	margin: 10px;
}

flexchild-vertical h3{
		@include txt_color(#1b4491);
		font-weight: 100;
}
paper-item-body a{
		@include txt_color(blue);
}


b, strong {
		font-weight: 600;
}


paper-material{
		@include bg_color(white);
		box-sizing: border-box;
		border-radius: 10px;
		display: inline-block;
		padding: 0 0 15px 0;
}

paper-material ul{
		background:none;
		list-style-type:square;
		margin-left:10px;
		margin-bottom: 10px;
		
}

paper-material ul.li{
		background-position:0 .5em;
		display: block;
		list-style-type: square;
		margin-left: 30px;

}
