
@import 'resource';

img.pic{
		display: block;
		margin: auto;
}	 

body {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 16px;
		line-height: 1.5;
		margin: 0 auto;
		max-width: 1100px;
		padding: 2em 2em 4em;
		@include bg_color(lightgrey);
}

cv{
		width: 820px;
		margin: auto;
		@include bg_color(white);
		display: block;
		padding: 0;
		overflow: hidden;
		padding-bottom: 80px;
		padding-top: 7px;
}

h1, h2, h3, h4, h5, h6 {
		color: #222;
		font-weight: 600;
		line-height: 1.3;
}
h1{
		@include t_align(center);
		
}

h2 {
		width: 180px;
		height: 30px;
		@include t_align(left);
		float: left;
		padding: 0;
		margin: 300px;
		clear: both;
		margin-bottom: 12px;
		margin-top: 1.3em;
		@include txt_color(#1b4491);
}

h3{
		width: 180px;
		height: 30px;

		@include t_align(left);
		@include txt_color(#1b4491);
		padding: 10px;

}

b, strong {
		font-weight: 600;
}

paper-material{
		@extend paper_m;
		@include bg_color(white);
		box-sizing: border-box;
		border-radius: 10px;
		display: block;
		float: right;
		padding: 0 0 15px 0;
}

paper-material ul{
		@extend paper_m;
		@extend paper_m_content_float;
		background:none;
		list-style-type:square;
		margin-left:10px;
		margin-bottom: 10px;
		padding-top: 12px;
}

paper-material ul.li{
		@extend paper_m;
		@extend paper_m_content_float;
		background-position:0 .5em;
		display: block;
		list-style-type: square;
		margin-left: 30px;

}
