$padding : 10px;
$margin 10px 5px;


#profile{
		border-radius:50%;
		margin : auto;
}

#private_info{
		padding : $padding;
		margin : $margin;
}

#experience{
		padding : $padding;
		margin : $margin;
}

#activity{
		padding : $padding;
		margin : $margin;
}

#prize{
		padding : $padding;
		margin : $margin;
}

#licence{
		padding : $padding;
		margin : $margin;
}



body {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 16px;
		line-height: 1.5;
		margin: 0 auto;
		max-width: 800px;
		padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
		color: #222;
		font-weight: 600;
		line-height: 1.3;
}

h1 {
		text-align:center;
}

h2 {
		margin-top: 1.3em;
}


b, strong {
		font-weight: 600;
}


#name{
		border : none;
		font-size : 30px;
		text-align : center;
}


paper-material{
		display: block;
		background-color: rgb(300, 300, 300);
		box-sizing: border-box;
		padding: 0 0 15px 0;
		border-radius: 10px;
}

paper-material p{
		color: rgb(85, 85, 85);
		line-heiight: 20px;
}
